.content {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #fff;
}

.header-bar {
  font-size: 1.5rem;
  padding: 1.5rem  1rem 1rem  1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77c850;
  border-radius: 1.5rem 1.5rem 0 0;
  margin: 0;
}

.return {
  transform: rotateY(180deg);
  color: white;

  &:hover {
    cursor: pointer;
    filter: brightness(40%);
  }
}

label {
  display: flex;
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 32px;

  #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
  }

  #main-circ {
    transform-origin: 29.5px 29.5px;
  }
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg {
    #heart {
      transform: scale(.7);
      fill: #E2264D;
      animation: animateHeart .3s linear forwards .25s;
    }

    #main-circ {
      transition: all 2s;
      animation: animateCircle .3s linear forwards;
      opacity: 1;
    }
  }

#heart:hover{
  fill: #E2264D;
  }

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  height: 35vh;
  position: relative;
  padding: 0 1rem;
}

.pokemon::after {
  content: '';
  width: 256px;
  height: 256px;
  position: absolute;
  bottom: -36px;
  right: -45px;
  background-image: url(../images/poke-ball-big.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.pokemon .number {
  color: #000;
  opacity: 0.2;
  text-align: end;
  font-size: 0.875rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  opacity: 0.9;
  text-shadow: 2px 3px 8px rgb(0 0 0 / 0.3);
}

.pokemon .detail .types {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

.pokemon .detail .types .type {
  background-color: #ffffff30;
  color: #fff;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0;
  font-size: 0.875rem;
  border-radius: 8px;
  text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 180px;
    position: absolute;
    z-index: 2;
    bottom: -1rem;
    right: 25%;
    filter: drop-shadow(2px 6px 7px rgb(0 0 0 / 0.4));
}

.container-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  padding: 3.5rem 1rem;
  border-radius: 32px;
  background-color: #ffffff;
}

.container-detail .content-detail .nav-bar {
  display: flex;
  justify-content: space-around;
  color: #cccccc;
}

.container-detail .content-detail .nav-bar .item {
  border-bottom: 1px solid transparent;
  padding: 1rem 0;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 500;
}

.container-detail .content-detail .nav-bar :first-child {
  color: #000000;
  border-color: #000000;
}

h4 {
  padding: 0.5rem 0 0 1.5rem;
}

.about, .breeding {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.title, .info {
  color: #999999;
}


.title-item, .info-item {
  padding: .625rem 0;
}
.info-item {
  color: black;
}

ol li {
  list-style: none;
}

.gender {
  display: flex;
  padding: .625rem 0;
  gap: 24px
}

.gender img {
  height: 16px;
}


@media screen and (min-width: 440px) {
  .content {
    max-width: 440px;
    margin: 0 auto;
  }
}


@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart{
  0% {
    transform: scale(.2);
  }

  40% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut{
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
