.content {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #fff;
}

.header {
  background-color: #77c850;
}


.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}


.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}


.pokemon {
  display: flex;
  /* flex-direction: column; */
  height: 40vh;

  position: relative;
}

.pokemon::after {
  content: '';
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: -36px;
  right: -14px;
  background-image: url(../images/poke-ball.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.pokemon:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.pokemon .number {
  color: #000;
  opacity: 0.2;
  text-align: end;
  font-size: 0.625rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

.pokemon .detail .types .type {
  background-color: #ffffff30;
  color: #fff;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0;
  font-size: 0.625rem;
  border-radius: 8px;
  text-align: center;

}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    justify-self: flex-end;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  background-color: #6c79db;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
}


@media screen and (min-width: 440px) {
  .content {
    max-width: 440px;
    margin: 0 auto;
  }
}

